/* Основные стили для всей страницы */
body {
    background: -webkit-linear-gradient(90deg, #0f134f, #273270, #494c8c);
    background: linear-gradient(90deg, #0f134f, #273270, #494c8c);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin-left: 10px;
    margin-right: 10px;
}


/* Стили для заголовка h1 в Contacts */

/* Контейнер для карты и списка */
.contacts-map-and-list {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Три столбца */
    gap: 20px; /* Расстояние между столбцами */
    align-items: flex-start;
    padding: 20px;
    row-gap: 20px;
    padding-top: 0;
}
.contact-section{
    margin:15px;
    margin-top: 25px;
    margin-left: 70px;
}


/* Контейнер карты */
.map-container {
    
    grid-column: 1 / 2; /* Первый столбец */
    margin-left: 15px; /* Отступ внутри контейнера */
    padding-top: 0;
    margin-top: 0;
    height: 758px;
    width: 660px; 
    box-sizing: border-box; 
    border: #ccc solid 1px;
    border-radius: 25px;
    overflow: hidden; 
}





.Contacts {
    color: #ffffff;
    background-color: none;
    padding: 0 0;
    display: block; 
    text-align: left; 
    margin-bottom: 0;
}

.Contacts h1 {
    color: #ffffff;
    font-size:70px; 
    font-weight: 700;
    margin:0px; /* Убирает внешние отступы у h1 */
    text-align: left; 
    padding: 0;
    margin: 0;
}

.text-image-section {
    grid-column: 2 / 3; /* Второй столбец */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Расстояние между текстом и картинкой */
}

.text-image-section .contact-box
{
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s ease;
    text-align: center;
    max-height: 125px;
    padding: 30px 0 34px 0;
}



/* Эффект при наведении на текст с адресом */
.text-image-section .contact-box:hover {
    transform: scale(1.05); /* Увеличение размера */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Увеличение тени */
    background-color: #f3f3ff; /* Легкое изменение цвета фона */
}





/* Дополнительный эффект на саму картинку */
.image-box:hover .address-image {
    transform: scale(1.05); /* Увеличение только изображения */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}



.image-box {
    display: flex;
    justify-content: center;
    
    align-items: center;
    padding: 0; /* Убираем внутренние отступы */
    background-color: transparent; /* Убираем фон */
    margin-top: 0;
    }

.address-image {
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    width: 500px; /* Изображение растягивается только по ширине родителя */
    height: auto; /* Поддерживаем пропорции */
    border-radius: 10px;
    box-shadow: none; /* Убираем тень с изображения */
    margin-top: 0;
}


/* Два текста */
.text-section {
    grid-column: 3 / 4; /* Третий столбец */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Расстояние между текстовыми блоками */
    font-size: 18px;
}

.text-section .contact-box {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 390px;
    height: 327px;

    display: flex; /* Включаем Flexbox */
    flex-direction: column; /* Содержимое в столбик */
    justify-content: center; /* Центрирование по вертикали */
    align-items: flex-start; /* Выравнивание по левому краю */
}
.title {
    margin: 0; 
}



.text-section .contact-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


/* Список контактов */
.seznam {
    display: grid; /* Используем Grid Layout */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Автоподстройка количества столбцов */
    gap: 20px; /* Расстояние между карточками */
    padding: 0;
    margin: 0;
}

/* Карточки контактов */
.seznam li {
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень */
    transition: transform 0.3s, box-shadow 0.3s; /* Анимация при наведении */
    max-width: 1000px;
}

.seznam li:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Увеличение тени при наведении */
}

/* Текст внутри карточек */
.seznam li h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.seznam li p {
    font-size: 0.9em;
    color: #555;
    margin: 0;
}

.hlavicka {
    display: flex;
    /* Flexbox pro horizontální zarovnání */
    align-items: center;
    /* Vertikální vyrovnání */
    justify-content: space-between;
    /* Logo vlevo, menu vpravo */
    padding: 10px 10px;
    /* Okraje kolem obsahu */
    background-color: #ffffff;
    /* Světlé pozadí pro hlavičku */
    font-family: "Montserrat", sans-serif;
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    border-radius: 50px;
}

#obrazek1 {
    max-height: 60px;
    width: 350px;
    padding-left: 5px;
    padding-bottom: 1px;
}

.sipka {
    width: 10px;
    height: auto;
    padding-left: 5px;

}

.menu {
    display: flex;
}

.odkazy {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.menu .odkazy {
    display: flex;
    justify-content: flex-end;
    /* Zajišťuje zarovnání doprava */
    gap: 20px;
    /* Mezera mezi odkazy */
    align-items: center;
    /* Vyrovnání vertikálně */
}

.menu {
    display: inline;
    max-height: 40px;
    padding: 10px;
}

.odkazy h4 {
    cursor: pointer;
    margin: 0;
    font-weight: 300;
}

.odkazy .submenu {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: none;
}

.odkazy .submenu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: background-color 0.6s ease;
}


.odkazy div:hover .submenu {
    display: block;
}

.odkazy>a,
.odkazy>.Aktivity {
    text-decoration: none;
    color: #333;
    position: relative;
    padding: 10px;
    background-color: #efeeff;
    border: 1px solid #333;
    border-radius: 5px;
    transition: background-color 0.6s ease;
}

/* Кнопки с градиентом при наведении */
.menu a:hover, .Aktivity:hover{
    background: -webkit-linear-gradient(90deg, #7578ab, #818bc1, #a3a6d8); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #7578ab, #818bc1, #a3a6d8); /* Градиент для кнопок */
    font-family: "Montserrat", sans-serif;
}

/* При наведении на элементы подменю — однотонный фон */
.odkazy .Aktivity .submenu a:hover {
    background-color: #dedcff; /* Легкий однотонный эффект */
}

/* Skrytí submenu */
.submenu {
    text-align: left;
    display: none;
    position: absolute;
    top: 100%;
    /* Posun submenu pod rodiče */
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    border-radius: 10px;

}

.submenu a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-radius: 10px;

}

.submenu a:hover {
    background-color: #a6a3e7;
    border-radius: 10px;
}

/* Zobrazení submenu při najetí */
.Aktivity:hover .submenu {
    display: block;
}

/* Стили для футера */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50px;
    font-size: 1rem;
}

footer .logofooter {
    max-height: 40px;
    width: auto;
    margin-left: 10px;
}
